<div class="jumbotron">
    <div>
        <h2 class="text-center">{{currentThread.postTitle}}</h2>
        <h4 class="text-center">Created By {{currentThread.poster.username}} on {{currentThread.date}}</h4>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>{{currentThread.poster.username}}</th>
            <th>{{currentThread.content}}</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reply in currentThread.childrenPosts">
                <td>{{reply.poster}}</td>
                <td>{{reply.content}}</td>
            </tr>
        </tbody>
    </table>

    <div ng-submit="submitReply(newReply)" ng-if="activeUser">
        <form>
            <div class="form-group">
                <label for="textArea" class="col-md-2 control-label">Textarea</label>

                <div class="col-md-10">
                    <textarea ng-model="newReply.content" class="form-control" rows="3" id="textArea"></textarea>
                    <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                </div>
            </div>
            <button class="btn btn-primary">Add Reply</button>
        </form>
    </div>


</div>